*{
	padding: 0;
	margin: 0;
}
.row{
	display: flex;
}
.white{
	background-color: white;
}
.black{
	background-color: black;
}
.size{
	width: 65px;
	height: 65px;
}
.container{
	display: flex;
	justify-content: center;
}
.chessboard{
	margin-top: 40px;
	border: 5px solid black;
	box-shadow: 10px 10px #cacccb;
}